*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* primary colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* Neutral colors */
    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(228, 45%, 44%);
    --grey-300: hsl(212, 6%, 44%);
    --grey-200: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

    /* font sizes */
    --size-100: 1rem; /* 16px */
    --size-200: 2rem; /* 32px */
    --size-300: 2.5rem; /* 40px */
    --size-400: 3rem; /* 56px */
}

body {
    background-color: var(--grey-200);
    font-family: 'Poppins', sans-serif;
    color: var(--grey-500);
    min-height: 100vh;
    line-height: 1.6;
    font-size: var(--size-100);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    margin-top: var(--size-400);
    padding: var(--size-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-weight:  200;
    margin-bottom: var(--size-100);
}

h1 span {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

header p {
    max-width: 35rem;
}

main {
    display: flex;
    justify-content: center;
    margin: var(--size-200);
    margin-top: 0.5rem;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 2rem;
    margin: var(--size-200);

    width: 100%;
    min-width: 15.625rem;
    max-width: 21.875rem;

    min-height: 15.625rem;

    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.1);
}

article p {
    padding: 0 0 var(--size-100) 0;
    font-size: 0.8rem;
    width: 90%;
}

img {
    width: 4rem;
    height: auto;
    align-self: flex-end;
    margin: var(--size-100);
    
}

.supervisor {
    border-top: 0.5rem solid var(--cyan);
    align-self: center;
}
.team-builder {
    border-top: 0.5rem solid var(--red);
}
.karma {
    border-top: 0.5rem solid var(--orange);
}
.calculator {
    border-top: 0.5rem solid var(--blue);
    align-self: center;
}


.attribution {
    font-size: var(--size-100); text-align: center;
}

.attribution a {
    color: var(--grey-400);
}

.attribution a:focus {
    color: var(--red);
    outline: 1px solid var(--grey-200);
}

@media (max-width: 48rem) {
    header {
        width: 100%;
    }
    
    main {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .middle {
        width: 100%;
    }

    article {
        margin: var(--size-100);
    }

    header p {
    width: 100%;
}
}